
/* Comments here. */

header, main, section, article, footer, aside, figure, figcaption {
  display: block;
}

@media (min-width:961px)  
  body {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .column, .center, table, ol, ul, nav {
    width: 100%;
  }
} 

@media only screen and (max-width: 600px) {
  body {
    background-color: #ffffff;
  }
}
  
* {
  box-sizing: border-box;
}

header {
  background-color: transparent;  
  color: #000000;
  width: 100%;
  height: auto%;
  margin: 10px 0px;
  float: left;
}

.headertitle {
  text-align: center;
  font-size: 55px;
  color: #000000;
  font-style: normal;
  font-family: 'Julius Sans One';
  
}

h1 {
  text-align: left;
  font-size: 56px;
  color: #000000;
  font-style: normal;
  font-family: 'Archivo Narrow';
  font-variant-caps: small-caps;
}

h2 {
  text-align: left;
  font-size: 48px;
  color: #000000;
  font-family: 'Archivo Narrow';
  font-variant-caps: small-caps;
}

h3 {
 text-align: left;
 font-family: 'Archivo Narrow';
 font-variant-caps: small-caps;
 color: #000000;
 font-size: 36px;
}

h4 {
 text-align: left;
 font-family: 'Archivo Narrow';
 font-variant-caps: small-caps;
 color: #000000;
 font-size: 24px;
}

.clearfix {
 overflow: auto;
}

img {
  margin: 0px auto;
  padding: 10px;  
  float: left;
  width: 150px;
  height: auto;
  color: #000000;
}

.homepageimg {
  width: 100%;
  height: auto;
  object-fit: cover;
/*fill, contain, none, cover, scale-down*/
}

.concept {
  margin: auto;
  display: block;
  text-align: center; 
  width: 800px; 
}

.imgconcept {  
  width: 800px;
  length: auto; 
  padding: 10px;
  margin-bottom: 3rem;
  color: #000000; 
}

.imgicon {
  margin: 0px auto;
  padding: 10px;  
  display: inline-block;
  width: 100px;
  height: auto;
  
}

.imgpercentage {
  margin: auto;
  display: block;
  padding: 10px;
  width: 920px;
  length: auto;
  color: #000000;
}

nav {
  width: 650px; /*Change this element when adding/deleting links to maintain center; must keep margin dimensions like this*/
  length: auto; 
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'Source Sans Pro';
}

li a {

  display: inline;
  color: #000000;
  text-align: center;
  padding: 10px 30px;
  padding-bottom: 10px;
  text-decoration: none;
  text-indent: 0px;
}

.li2 {
  float: left;
  
}

a:link {
  color: #000000;
  margin-left: 0%;
  text-decoration: none;
}

a:visited {
  color: gray;
}

a:hover {
  background-color: none;
  text-decoration: underline;
  color: #000000;
}

a:active {
  text-decoration: underline;
  color: none;
}

.body:link {
  color: #3366cc;
  margin-left: 0%;
  text-decoration: underline;
}

.body:visited {
  color: gray;
}

.body:hover {
  background-color: none;
  text-decoration: underline;
  color: #000000;
}

.body:active {
  text-decoration: underline;
  color: none;
}

ul {
  list-style-type: none;
  text-align: left;
  text-indent: 0px;
}

.disc {
  list-style-type: disc;
  text-align: left;
}

.circle {
  list-style-type: circle;
  text-align: left;
}

.square {
  list-style-type: square;
  text-align: left;
}
  
ul li {  
  padding: .2em; 
  text-align: left;
  line-height: 1.6em;
  text-indent: 0px;
}

ol li {  
  padding: .2em; 
  text-align: left;
  text-indent: 0px;
  line-height: 1.6em;
}

.leftmarginalign {
  list-style-type: none;
  text-align: left;
  padding: 0px; 
  font-weight: bold;
}

.leftmarginalignnormal {
  list-style-type: none;
  text-align: left;
  padding: 0px; 
  font-weight: normal;
}

li::after {
  content: "";
  display: table;
  clear: both;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

body {  
  text-align: left;
  font-family: 'Source Sans Pro';
  color: #000000;
  font-size: 16px;
  font-size: min(1rem, 16px);  
  background-color: #ffffff;
  width: 960px;
  margin: 0 auto; 
  overflow: auto;
  height: 100%;
  
}

p {
  line-height: 1.6em;
  text-align: left;
}

/* Main is the wrapper. Leave width & height this way to center on page.*/
main {
  background-color: transparent;  
  overflow: auto;
  width: 100%;
  height: auto;
}

/* Section is for images. */
section { 
  text-align: left; 
  background-color: transparent;
  padding: 10px 20px;
  margin-bottom: 3rem;
  margin-top: 50px;
  color: #000000;  
}

/* Article is for text. */
article {
  background-color: transparent;
  padding: 10px 20px;
  margin: 10px;
  color: #000000;
  margin: 10px 0px;
  margin-bottom: 60px;    
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  width: 50% 30%;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

hr { 
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  width: 900px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; 
  background-color: #ccccff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: #ccccff;
  height: 100%;
  width: auto;
  height: 528px;
}

.titlecolumn {
  text-align: center;
  font-size: 5rem;
  color: gray;
  font-style: normal;
  font-family: 'Source Sans Pro';
  padding-bottom: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  background-color: transparent;
  width: 290px;
  float: left;
  margin: 10px;
  margin-left: 20px;  
  padding: 10px;
  color: #000000;
}

.column2 {
  background-color: transparent;
  width: 290px;
  float: left;
  margin: 10px;   
  padding: 10px;
  color: #000000;
}

.column3 {
  background-color: transparent;
  width: 290px;
  float: left;
  margin: 10px;
  margin-right: 20px;  
  padding: 10px;
  color: #000000;
}

.blockquote {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px 70px;
  text-align: justify;
}

.highlight {
  background-color: yellow;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

section::after {
 content: "";
 display: table;
 clear: both;
}

header::after {
 content: "";
 display: table;
 clear: both;
}


form {
 margin: 3rem 0;
 display: flex;
 flex-direction: column;
 row-gap: 2rem;
}

.input__container {
 display: flex;
 flex-direction: column;
 row-gap: 0.5rem;
}

.input__container label { font-size: 1.6rem; }

.input__container input,
textarea {
 padding: 1rem 2rem;
 border-radius: 5px;
 border: 1px solid #555;
 resize: none;
}

button {
 align-self: flex-start;
 padding: 1rem 2rem;
 border-radius: 5px;
 border: none;
 background: #333;
 color: #fff;
 cursor: pointer;
} 



footer {
 font-size: 16px; 
 background-color: transparent;
 color: #000000;
 text-align: center;
 padding: 10px;
 margin: 10px 10px;
}



.footer:link {
  color: #000000;
  margin-left: 0%;
  text-decoration: none;
}

.footer:visited {
  color: gray;
}

.footer:hover {
  background-color: none;
  text-decoration: underline;
  color: #000000;
}

.previous {
